@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global CSS */
body {
  @apply bg-gray-100 text-gray-900;
}

.fade-in {
  animation: fadeIn 1.3s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
